In [ ]:
class Car():
  def __init__(self, brand , model , year):
    self.brand = brand
    self.model = model
    self.year = year
class ElectricCar(Car):
  def __init__(self , brand , model , year ,  battery_size):
    super().__init__(brand ,  model , year)
    self.battery_size = battery_size
car = ElectricCar( 'Tesla' , 'Model X' ,  2019 , "75 kwh" )
print(car.brand , car.model  , car.battery_size , car.year)

Tesla Model X 75 kwh 2019

In [ ]:
class Book():
  def __init__(self , title , author):
    self.__title = title
    self.__author = author
  def get_title(self):
    return self.__title
  def get_author(self):
    return self.__author
book = Book("Ramayan" , 'Valmiki')
print(book.get_title() , book.get_author())

Ramayan Valmiki

In [ ]:
class Bird:
  def fly(self):
    return "Birds can fly"
class Ostrich(Bird):
  def fly(self):
    return "Ostrich cannot fly"
a = Bird()
b = Ostrich()
print(a.fly())
print(b.fly())

Birds can fly
Ostrich cannot fly

In [ ]:
class Animal():
  class Dog:
    def make_sound():
      return 'Bark'
  class Cat:
    def make_sound():
      return 'Meow'
a = Animal.Dog
b = Animal.Cat
print(a.make_sound())
print(b.make_sound())

Bark
Meow

In [ ]:
l = ['a' , 'b' , 'c' , 'd' , 'e']
itrator = iter(l)
for i in l:
  print(i)

a
b
c
d
e

In [ ]:
l1 = [10, 20, 30, 40]
iterator1 = iter(l1)

while True:
  try:
    print(next(iterator1))
  except StopIteration:
    break

10
20
30
40

In [ ]:
class BankAccount:
  def __init__(self ):
    self.__balance = 0
  def deposit(self,amount):
    self.__balance += amount
  def withdraw(self , amount):
    if self.__balance >= amount:
      self.__balance -= amount
    else:
      print("Not Enough Balance")
  def the_balance(self):
    return self.__balance

n = BankAccount()
n.deposit(1000)
n.withdraw(500)
print(n.the_balance())

500

In [ ]:

class Calculator:

  def __init_(self , num1 , num2):
    self.num1 = num1
    self.num2 = num2

  def multiply(self):
    num1 = int(input('Enter a Number '))
    num2 = int(input('Enter a Number '))

    if num1 == 0 :
      return num2
    if num2 == 0:
        return num1
    else:
      return num1*num2
b = Calculator()
print(b.multiply())

Enter a Number 10
Enter a Number 51
510

In [ ]:
class Employee:
  def __init__(self , name , salary):
    self.name = name
    self.salary = salary
  def display(self):
    print(self.name , self.salary)
emp = Employee("Dhruv" , 10000)
emp.display()

Dhruv 10000

In [ ]:
class Father():
  def father_traits(self,f_name):
    self.f_name = f_name
    print("I have a house")
class Mother():
  def mother_traits(self,m_name):
    self.m_name = m_name
    print('I have dishes')
class Child(Father , Mother):
  def __init__(self,c_name,m_name,f_name):
    self.c_name = c_name
    self.m_name = m_name
    self.f_name = f_name
  def child_traits(self):
    print(f"{self.c_name},{self.m_name},{self.f_name}")
a = Child("dhruv","prakash","joshi")
#   pass
# a = Child()
# a.father_traits()
# a.mother_traits()

In [ ]:
a.child_traits()

dhruv,prakash,joshi